*
{
	margin: 0;
	padding: 0;
}

#display
{
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	position: relative;
}

#display::before
{
	content: "";

	width: 110%;
	height: 110%;
	position: absolute;
	top: -5%;
	left: -5%;
	z-index: 0;

	background-image: url("../img/background.png");
	background-size: 100% auto;
}

#display.blur::before
{
	-webkit-filter: blur(10px);
	-moz-filter: blur(10px);
	-o-filter: blur(10px);
	-ms-filter: blur(10px);
	filter: blur(10px);
}

@media screen and (max-width: 1200px)
{
	#display::before
	{
		background-size: auto 100%;
	}
}

.panel
{
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 1;
}

.panel.active, #start-panel
{
	top: 0;
	right: 0;
}

.panel:not(.active)
{
	top: 100%;
}

.panel.reduce
{
	top: 100px;
}

.panel.active
{
	z-index: 100;
}