*
{
	margin: 0;
	padding: 0;
}

#display
{
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	position: relative;
}

.panel
{
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 0;
}

.panel.active, #start-panel
{
	top: 0;
	right: 0;
}

.panel:not(.active)
{
	top: 100%;
}

.panel.reduce
{
	top: 100px;
}

.panel.active
{
	z-index: 100;
}